<%- include("header") -%>

<!-- <h1 class="box" id="heading">About us</h1> -->
<div class="box listTitle" id="heading">
  <h1>
    <span class="homeTitle"><a href="/"> Home</a></span>
    <span class="listTitle">About us</span>
  </h1>
</div>
<div class="box aboutPara">
  <p>
    Hello, everyone! First and first, allow me to welcome you all to my lovely modest project, which I originally designed for a course, but after working with a three-person team for a while, I realised we needed an online todo list that was not personalised for each individual. So, in the end, I upgraded this project to some amount and included some new features, such as a mongoDB database and the ability to create several lists.<br>
    I hope you enjoyed my work.<br>
    Thank you for stopping by.
  </p>
</div>


<%- include("footer") -%>